doctype html
html(lang="en")
  include includes/head.jade
  body
    #containerElement.container
      include includes/header.jade
      main.
          <div class="cycle-slideshow" data-cycle-swipe=true data-swipe-fx=scrollHorz data-cycle-timeout=0 data-cycle-prev=".prev" data-cycle-next=".next">
            <img src="img/cesc-fabregas.png" alt="Cesc">
            <img src="img/cesc-fabregas.png" alt="Cesc">
            <img src="img/cesc-fabregas.png" alt="Cesc">
            <img src="img/cesc-fabregas.png" alt="Cesc">
          </div>
      include includes/footer.jade
      include includes/scripts.jade
