doctype html
include includes/head.jade
  body
    #containerElement.container
      include includes/header.jade
      main(class="cf")
        include includes/pageTwo.jade
        include includes/pageThree.jade
        div(class="productTechWrapper cf")
          include includes/pageFour.jade
          include includes/pageFive.jade
        include includes/pageSix.jade
      include includes/footer.jade
