doctype html
html(lang="en")
  include includes/head.jade
  body
    #containerElement.container
      include includes/header.jade
      main
        section.
                <div id="chelseaPlayers" class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-timeout=0 data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="> div">
                  <div id="cFabregas" class="playerImageContainer">
                    <img  src="img/cesc-fabregas.png" alt="Cesc Fabregas" class="first playerImage"></div>
                  <div id="" class="playerImageContainer">
                    <img id="dDrogba" class="playerImage" src="img/didier-drogba.png" alt="Didier Drogba"></div>
                  <div id="" class="playerImageContainer">
                    <img id="jTerry" class="playerImage" src="img/john-terry.png" alt="John Terry"></div>
                  <div id="" class="playerImageContainer">
                    <img id="tCourtois" class="playerImage" src="img/thibault-courtois.png" alt="Thibault Courtois"></div>
                </div>
                <div class="center">
                  <a href=# id="prev">Prev</a>
                  <a href=# id="next">Next</a>
                </div>
                <div id="alt-caption" class="center"></div>
      include includes/footer.jade
    include includes/scripts.jade
