doctype html
html(lang="en")
  include includes/head.jade
  body
    #containerElement.container
      include includes/header.jade
      main.
          <div id="chelseaPlayers" class="cycle-slideshow" data-cycle-swipe=true data-swipe-fx=scrollHorz data-cycle-timeout=0 data-cycle-caption="#alt-caption" data-cycle-caption-template="{{alt}}">
            <div id="chelseaPlayers">              <img src="img/cesc-fabregas.png" alt="Cesc Fabregas" class="first">
              <img src="img/didier-drogba.png" alt="Didier Drogba">
              <img src="img/john-terry.png" alt="John Terry">
              <img src="img/thibault-courtois.png" alt="Thibault Courtois">

          </div>
          <div id="alt-caption" class="center"></div>
      include includes/footer.jade
      include includes/scripts.jade
