doctype html
html(lang="en")
  include includes/head.jade
  body
    #containerElement.container
      include includes/header.jade
      main
        section.
                <h1 id="team-name"></h1>
                <div id="chelseaPlayers" class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-timeout=0 data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="> article ">
                  <article id="fabregas" class="player-container player-container-bgimage-fabregas">
                  </article>
                  <article id="drogba" class="player-container player-container-bgimage-drogba">
                  </article>
                  <article id="terry" class="player-container player-container-bgimage-terry">
                  </article>
                  <article id="courtois" class="player-container player-container-bgimage-courtois">
                  </article>
                </div>
                <div class="center">
                  <a href=# id="prev">Prev</a>
                  <a href=# id="next">Next</a>
                 </div>
      include includes/footer.jade
    include includes/scripts.jade
