doctype html
include includes/head.jade
body
  #containerElement.container
    include includes/header.jade
    main
      section
        include includes/pageOne.jade
        include includes/pageTwo.jade
        include includes/pageThree.jade
        include includes/pageFour.jade
    include includes/footer.jade
