doctype html
html(lang="en")
  include includes/head.jade
  body
    #containerElement.container
      include includes/header.jade
      main
        section
          div(class="row")
            include includes/page_chelsea.jade
            include includes/page_realmadrid.jade
            include includes/page_milan.jade
      include includes/footer.jade
    include includes/scripts.jade
