@import "imports/variables";
@import "imports/mixins";
@import "imports/for";

// Global Styles


// Cycle2-related styles

// Center the player content on mobile view
.cycle-slideshow {
  max-width: 180px;
  margin: 0 auto;
}

// Style the player info
.player-container {
  padding-top: 165px;
  width: 300px;
  height: 300px;

  font-size: 19px;
  text-align: center;
  box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.35);
}

// Set player name styles
.player-name {
  font-size:19px;

  // text-transform is inefficient, but is fine for this demo's purposes
  text-transform: uppercase;
}

/*
 * Dynamically build player image thumbnail css classes
 * Learn more at: http://bit.ly/12tpr20
 */
@players: @courtois, @drogba, @fabregas, @terry,
          @casillas, @ramos, @bale, @ronaldo,
          @abbiati, @alex, @essien, @torres;

  .player-container-bgimage {
    .for(@players); .-each(@player) {
      @name: e(@player);
      &-@{name} {
        max-width: 180px;

        background: url('../img/@{name}-mobile.jpg') no-repeat 0 0;
        background-size: 180px 180px;
        border: 3px solid rgba(190, 225, 224, 1);
      }
    }
  }

@media (min-width: 768px) {

  .player-container-bgimage {
    .for(@players); .-each(@player) {
      @name: e(@player);
      &-@{name} {
        max-width: 300px;

        background: url('../img/@{name}.jpg') no-repeat 0 0;
        background-size: 300px 300px;
      }
    }
  }

  // Style the element that contains ALL the player info
  .all-player-info {
    min-height: 110px;
    padding: 5px;

    background: #fff;
  }

  // Slightly push player content down the page on wider views
  .player-container {
    padding-top: 186px;
  }

  // style the player's content on wider views
  .player-info, .player-name {
    margin: 2px 0;
  }

  .cycle-slideshow {
    left: 51px;
    top: 10px;
  }

}
