@import "imports/variables";
@import "imports/mixins";
@import "imports/for";

// Global Styles


// Cycle2-related styles

// Center the player content on mobile view
.cycle-slideshow {
  max-width: 196px;
  margin: 0 auto;
}

// Style the player info
.player-container {
  padding-top: 165px;
  min-height: 320px;

  font-size: 22px;
  text-align: center;
}

// Set player name styles
.player-name {
  font-size: 22px;

  // text-transform is inefficient, but is fine for this demo's purposes
  text-transform: uppercase;
}
/*
 * Dynamically build player image thumbnail css classes
 * Learn more at: http://bit.ly/12tpr20
 */
@players: @courtois, @drogba, @fabregas, @terry,
          @casillas, @ramos, @bale, @ronaldo,
          @abbiati, @alex, @essien, @torres;

.player-container-bgimage {
  .for(@players); .-each(@player) {
    @name: e(@player);
    &-@{name} {
      .player-width-mobile;

      background: url('../img/@{name}_tn.png') no-repeat 0 0;
      background-size: 196px 196px;
    }
  }
}


@media (min-width: 768px) {

  // Slightly push player content down the page on wider views
  .player-container {
    padding-top: 186px;
  }

  // style the player's content on wider views
  .player-info, .player-name {
    margin: 2px 0;
  }

}
