.player-width-mobile {
  width: 196px;
}
.hideElement {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
.container {
  padding: 0;
}
.row {
  margin: 0 auto;
}
.well {
  margin: 10px 42px;
}
html,
body,
.gl-container {
  height: 100%;
}
ul,
ol {
  padding-left: 0;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
.g-cycle-link {
  text-align: center;
}
.gl-headerClass {
  text-align: center;
}
.gl-page {
  height: 400px;
  padding: 5px;
  margin: 0 auto 20px;
  font-family: 'Francois One', sans-serif;
}
.gl-cycle-nav-image {
  float: left;
  margin: 5px;
}
.scroll-nav {
  text-align: center;
}
.scroll-nav__list {
  list-style-type: none;
}
.scroll-nav__item {
  display: inline-block;
  margin: 0 20px;
}
.headerClass {
  font-size: 24px;
}
.team-header {
  text-align: center;
}
@media (min-width: 768px) {
  .headerClass {
    font-size: 36px;
  }
  .cycle-nav {
    clip: auto;
    bottom: 295px;
    position: relative;
    max-width: 195px;
    z-index: 101;
  }
  .page {
    padding-left: 30px;
    border: 1px solid #000000;
    background-color: #f8f8f8;
    float: none;
  }
  .tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    visibility: visible;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .tooltip.in {
    opacity: .8;
    filter: alpha(opacity=80);
  }
  .tooltip.top {
    margin-top: -2px;
  }
  .tooltip.right {
    margin-left: 2px;
  }
  .tooltip.bottom {
    margin-top: 2px;
  }
  .tooltip.left {
    margin-left: -2px;
  }
  .tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
  }
  .tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000000;
  }
  .tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000000;
  }
  .tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000000;
  }
  .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .headerClass {
    font-size: 36px;
  }
  .center-columns {
    margin: auto;
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 20px;
    /*     box-shadow: 0 9px 0px 0px white,
0 -9px 0px 0px white,
12px 0 15px -4px rgba(212, 210, 210, 0.8),
-12px 0 15px -4px rgba(212, 210, 210, 0.8); */
  }
  .center-columns {
    margin: auto;
    max-width: 960px;
  }
}
@media screen and (max-width: 767px) {
  .cycle-nav {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .headerClass {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .cycle-nav {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .headerClass {
    font-size: 36px;
  }
}
