.headerClass {
  text-align: center;
}
.page {
  min-height: 700px;
  padding: 5px;
}
.chelseaHeader {
  color: #fff;
}
.chelsea {
  background-color: #0a4594;
}
.headerClass {
  font-size: 24px;
}
@media (min-width: 768px) {
  .chelsea {
    background-color: #fff;
  }
  .headerClass {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .headerClass {
    font-size: 36px;
  }
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .chelsea {
    background-color: #0a4594;
  }
  .headerClass {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .headerClass {
    font-size: 24px;
  }
}
.container {
  padding: 0;
}
