article(class="real-madrid gl-page page col-md-4").
  <h2 class="gl-team-header">REAL MADRID</h2>
  <div class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-timeout=0 data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="> div ">
    <div id="casillas" class="player-container player-container-bgimage-casillas">
    </div>
    <div id="ramos" class="player-container player-container-bgimage-ramos">
    </div>
    <div id="bale" class="player-container player-container-bgimage-bale">
    </div>
    <div id="ronaldo" class="player-container player-container-bgimage-ronaldo">
    </div>
  </div>
  <div class="center g-cycle-link">
    <a href=# id="prev">Prev</a>
    <a href=# id="next">Next</a>
  </div>
