article(class="team-real-madrid gl-page page col-md-8 cf").
  <h2 class="team-header">REAL MADRID</h2>
  <span id="teamCopyLinkMadris" class="popup-link">test</span>
  <div id="playerContentWrapper" class="cycle-player-content-wrapper clearfix">
    <div id="realMadridSlideshow" class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-pager="#real-madrid-no-template" data-cycle-pager-template="" data-cycle-timeout=0  data-cycle-slides="> div ">
       <div id="casillas" class="player-container player-container-bgimage-casillas">
      </div>
      <div id="ramos" class="player-container player-container-bgimage-ramos">
      </div>
      <div id="bale" class="player-container player-container-bgimage-bale">
      </div>
      <div id="ronaldo" class="player-container player-container-bgimage-ronaldo">
      </div>
    </div>

    <div id="teamCopy" class="player-copy-class">
      <p>
        Real Madrid Club de Fútbol commonly known as Real Madrid, or simply as Real, is a professional football club based in Madrid, Spain. Founded in 1902 as Madrid Football Club, the team has traditionally worn a white home kit since.
      </p>
      <p class="gl-wikipedia-credit">
        <em>-Courtesy Wikipedia</em>
      </p>
    </div>

  </div>


  <div id="real-madrid-no-template" class="cycle-nav cycle-pager external">
    <img src="img/casillas_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/ramos_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/bale_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/ronaldo_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
  </div>
