article(class="team-milan gl-page page col-md-8 cf").
  <h2 class="team-header">AC MILAN</h2>
  <span id="teamCopyLinkChelsea" class="popup-link">test</span>
  <div id="playerContentWrapper" class="cycle-player-content-wrapper clearfix">
    <div id="cmilanSlideshow" class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-pager="#milan-no-template" data-cycle-pager-template="" data-cycle-timeout=0  data-cycle-slides="> div ">
       <div id="abbiati" class="player-container player-container-bgimage-abbiati">
      </div>
      <div id="alex" class="player-container player-container-bgimage-alex">
      </div>
      <div id="essien" class="player-container player-container-bgimage-essien">
      </div>
      <div id="torres" class="player-container player-container-bgimage-torres">
      </div>
    </div>

    <div id="teamCopy" class="player-copy-class">
      <p>
        Chelsea Football Club are a professional football club based in Fulham, London, who play in the Premier League, the highest level of English football. Founded in 1905, the club have spent most of their history in the top tier of English football. The club's home ground is the 41,837-seat Stamford Bridge stadium, where they have played since their establishment.
      </p>
      <p class="gl-wikipedia-credit">
        <em>-Courtesy Wikipedia</em>
      </p>
    </div>

  </div>


  <div id="milan-no-template" class="cycle-nav cycle-pager external">
    <img src="img/abbiati_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/alex_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/essien_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/torres_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
  </div>
