article(class="milan gl-page page col-md-12").
  <h2 class="team-header">AC MILAN</h2>
  <div class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-pager="#no-template-pager" data-cycle-pager-template="" data-cycle-timeout=0 data-cycle-prev="#prev-milan" data-cycle-next="#next-milan" data-cycle-slides="> div ">
    <div id="abbiati" class="player-container player-container-bgimage-abbiati">
    </div>
    <div id="alex" class="player-container player-container-bgimage-alex">
    </div>
    <div id="essien" class="player-container player-container-bgimage-essien">
    </div>
    <div id="torres" class="player-container player-container-bgimage-torres">
    </div>
  </div>
  <div class="center g-cycle-link">
    <a href=# id="prev-milan">Prev</a>
    <a href=# id="next-milan">Next</a>
  </div>
