article(class="chelsea gl-page page col-md-12").
  <h2 class="team-header">CHELSEA</h2>
  <div class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-pager="#chelsea-no-template" data-cycle-pager-template="" data-cycle-timeout=0  data-cycle-slides="> div ">
    <div id="fabregas" class="player-container player-container-bgimage-fabregas">
    </div>
    <div id="drogba" class="player-container player-container-bgimage-drogba">
    </div>
    <div id="terry" class="player-container player-container-bgimage-terry">
    </div>
    <div id="courtois" class="player-container player-container-bgimage-courtois">
    </div>
  </div>
  <div id="chelsea-no-template" class="cycle-nav cycle-pager external">
    <img src="img/fabregas_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/drogba_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/terry_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/courtois_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
  </div>
