article(class="milan gl-page page col-md-12").
  <h2 class="team-header">AC MILAN</h2>
  <div class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-pager="#milan-no-template" data-cycle-pager-template="" data-cycle-timeout=0  data-cycle-slides="> div ">
    <div id="abbiati" class="player-container player-container-bgimage-abbiati">
    </div>
    <div id="alex" class="player-container player-container-bgimage-alex">
    </div>
    <div id="essien" class="player-container player-container-bgimage-essien">
    </div>
    <div id="torres" class="player-container player-container-bgimage-torres">
    </div>
  </div>
  <div id="milan-no-template" class="cycle-nav cycle-pager external">
    <img src="img/abbiati_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/alex_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/essien_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/torres_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
  </div>
