article(class="team-real-madrid gl-page page col-md-8 cf").
  <h2 class="team-header hack-header-padding">REAL MADRID</h2>
  <div class="cycle-slideshow" data-cycle-swipe=true data-cycle-swipe-fx=scrollHorz data-cycle-pager="#real-madrid-no-template" data-cycle-pager-template="" data-cycle-timeout=0  data-cycle-slides="> div ">
    <div id="casillas" class="player-container player-container-bgimage-casillas">
    </div>
    <div id="ramos" class="player-container player-container-bgimage-ramos">
    </div>
    <div id="bale" class="player-container player-container-bgimage-bale">
    </div>
    <div id="ronaldo" class="player-container player-container-bgimage-ronaldo">
    </div>
  </div>
  <div id="real-madrid-no-template" class="cycle-nav cycle-pager external">
    <img src="img/casillas_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/ramos_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/bale_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
    <img src="img/ronaldo_tn.jpg" class="gl-cycle-nav-image img-thumbnail">
  </div>
