script(src="js/libs/jquery.min.js")
script(src="js/libs/matchMedia.js")
script(src="js/libs/enquire.min.js")
script(src="js/libs/jquery.scrollNav.min.js")
script(src="js/libs/jquery.cycle2.min.js")
script(src="js/libs/jquery.cycle2.swipe.js")
script(src="js/main.js")
