html, body, .gl-container {
  height: 100%;
}

.g-cycle-link {
  text-align: center;
}

.gl-headerClass, .gl-team-header {
  text-align:center;
}

.gl-page {
  padding: @pagePadding;

  font-family: @fancyFont;
}

// http://stackoverflow.com/questions/19941414/center-a-row-using-bootstrap-3
.im-centered {
  margin: auto; max-width: 960px;
}
