@media (min-width: 768px) {

  .headerClass {
    font-size:36px;
  }

  // Show Cycle2's navigation buttons
  // This overrides how this class is set in "max-width-767.less"
  .cycle-nav {
    clip: auto;
    bottom: 354px;
    margin-left: 50px;
    position: relative;
    max-width: 75px;
    z-index: 101; // need to do this so nav buttons work
  }

  // style the the individual pages
  .page {
    border: 1px solid #000;
    background-color: rgba(248, 248, 248, 1);
  }

}
