@media (min-width: 768px) {

  .headerClass {
    font-size:36px;
  }

  // Show Cycle2's "prev/next" buttons
  // This overrides how ".center" is set in "max-width-767.less"
  .center {
    clip: auto;
    bottom: 28px;
    position: relative;
  }

  // style the the individual pages
  .page {
    border: 1px solid #000;
    background-color: rgba(248, 248, 248, 1);
  }

}
