.headerClass {
  font-size:24px;
}

// Cesc styles
.player-container-image-fabregas {
  .player-width-mobile;
  margin: 0;
  float: left;

  background: url('../img/@{fabregas}_tn.png') no-repeat 0 0;
  background-size: 196px 196px;
}
