.header-class {
  font-size:24px;
}

// Center team names in mobile view
.team-header {
  text-align: center;
}

// Add a blue-ish bg color to the box that holds all the player info
.all-player-info {
  height: 129px;
  padding-top: 22px;

  background: rgba(190, 225, 224, 1);
}


.player-info, .player-name{
  .mobile-margin-reset;
}
