/*
 * STYLES REALTED TO PLUGIN: "scrollNav.js"
 * ====================================================================
 * The scrollNav plugin dynamically creates style on initialization
 * Style them her and make sure that all styles start with
 * ".scroll-nav-"
 */




// Team name variable...these are used in "global.less"
@teams: @chelsea, @real-madrid, @milan;

@media only screen and (min-width: 320px) {

  /* Small screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) {

  /* Small screen, retina, stuff to override above media query */

}

@media only screen and (min-width: 768px) {

  /* Medium screen, non-retina */

  // Dynamiclly build selectors styles for team background images
  .team {
    .for(@teams); .-each(@team) {
      @name: e(@team);
      &-@{name} {
        background: url('../img/@{name}.png') no-repeat 0 0;
        .team-bg-size;
      }
    }
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px) {

  // Medium screen, retina, stuff to override above media query

  // Dynamiclly build selectors styles for team background images
  .team {
    .for(@teams); .-each(@team) {
      @name: e(@team);
      &-@{name} {
        background: url('../img/@{name}@2x.png') no-repeat 0 0;
        .team-bg-size;
      }
    }
  }
}

@media only screen and (min-width: 1300px) {

  /* Large screen, non-retina */

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {

  /* Large screen, retina, stuff to override above media query */

}
