@pageBaseHeight: 400px;
@pagePadding: 5px;
@fancyFont: 'Francois One', sans-serif;

// Player variable names to be concatenated // ----------------------------------------------

// Teams
@chelsea: chelsea;
@real-madrid: real-madrid;
@milan: milan;

// Chelsea Players
@courtois: courtois;
@drogba: drogba;
@fabregas: fabregas;
@terry: terry;

// Real Madrid Players
@casillas: casillas;
@ramos: ramos;
@bale: bale;
@ronaldo: ronaldo;

// AC Milan Players
@abbiati: abbiati;
@alex: alex;
@essien: essien;
@torres: torres;
