@pageBaseHeight: 700px;
@pagePadding: 5px;

// Player variable names to be concatenated // ----------------------------------------------
@courtois: courtois;
@drogba: drogba;
@fabregas: fabregas;
@terry: terry;
